@{ ViewBag.Title = "Registrar pago";
                Layout = "~/Views/Shared/_LayoutPublico.cshtml"; 
    }



<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">

                <h2>@ViewBag.Title.</h2>

                <br /><br /><br />

                            <form id="form_pago" class="form-horizontal">

                                <div class="col-md-10">
                                    <div class="form-check form-check-inline">

                                        <div class="col-md-3">
                                            <input class="form-check-input" type="radio" name="tipoPagoRad" id="inlineRadio1" value="EFECTIVO">
                                            <label class="form-check-label radio-inline" for="inlineRadio1">
                                                Efectvo
                                            </label>
                                        </div>

                                        <div class="col-md-3">
                                            <input class="form-check-input" type="radio" name="tipoPagoRad" id="inlineRadio2" value="TARJETA">
                                            <label class="form-check-label radio-inline" for="inlineRadio2">
                                                Tarjeta
                                            </label>
                                        </div>

                                        <div class="col-md-3">
                                            <input class="form-check-input" type="radio" name="tipoPagoRad" id="inlineRadio3" value="TRANSFERENCIA">
                                            <label class="form-check-label radio-inline" for="inlineRadio3">
                                                Tranferencia
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tarjeta</label>
                                    <div class="col-md-10 form-custom">
                                        <input type="text" class="form-control" maxlength="30" id="Tarjeta" name="Tarjeta" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Monto</label>
                                    <div class="col-md-10 form-custom">
                                        <input type="text" class="form-control" id="Monto" maxlength="10" name="Monto" required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label">Subir comprobante</label>
                                    <div class="col-md-10 form-custom">
                                        <input type="file" class="form-control" id="ComprobanteP" name="ComprobanteP" required>
                                    </div>
                                </div>


                                <br />
                                <br />

                                <div class="form-group">
                                    <div class="col-md-offset-10 col-md-2">
                                        <input type="submit" id="btnPagar" class="btn btn-primary" value="Guardad pago" />
                                    </div>
                                </div>

                            </form>

            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/src/Bandbox/bandbox.js"></script>