@{
    ViewData["Title"] = "Bandeja de Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }

    .demo .item {
        margin-bottom: 60px;
    }

    .content-slider li {
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }

    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }

    .demo {
        width: 800px;
    }
</style>

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <h2>@ViewBag.Title.</h2>
                <h4>Solicitudes enviadas por cliente o alta en recepción.</h4>

                <br /><br /><br />
                <div class="row clearfix">
                    <div class="form-inline">
                        <div class="col-md-2">
                            <select id="TipoServicioDrop" name="" class="form-control" data-live-search="true" required>
                                <option value="1" selected>A domicilio</option>
                                <option value="2">Presencial</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="col-md-2 col-md-offset-1">
                            <select id="" name="" class="form-control" data-live-search="true" required>
                                <option value="Empresa" selected>Empresa</option>
                                <option value="1">Finsoft SA</option>
                            </select>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row clearfix">
                    <div class="col-md-12">
                        <br />
                        <br />
                        <div id="grdDatos" style="height:600px;" class="ag-theme-material ag-compact"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/src/BandRequest/BandRequest.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
    });

</script>


