
@{
    ViewBag.Title = "Alta de servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">

                <h2>@ViewBag.Title.</h2>

                <form id="sign_in" class="form-horizontal">
                    <div class="msg"></div>

                    <div class="">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label checkbox-inline" for="defaultCheck1">
                                Nombre de la cuenta
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label checkbox-inline" for="defaultCheck2">
                                Es mayor de edad
                            </label>
                        </div>

                    </div>

                    <br />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nombre</label>
                        <div class="col-md-8 form-custom">
                            <input type="text" class="form-control" id="Nombre" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Apellido Paterno</label>
                        <div class="col-md-8 form-custom">
                            <input type="text" class="form-control" id="ApellidoP" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Apellido Materno</label>
                        <div class="col-md-8 form-custom">
                            <input type="text" class="form-control" id="ApellidoM" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Nombre Titular</label>
                        <div class="col-md-8 form-custom">
                            <input type="text" class="form-control" id="Ntitular" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Parentezco</label>
                        <div class="col-md-8 form-custom">
                            <input type="text" class="form-control" id="Parentezco" required autofocus>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div>
                            <label class="col-md-2 control-label">Catalogo</label>
                            <div class="col-md-8 form-custom">
                                <select id="Catalogo" name="" class="form-control" data-live-search="true" required>
                                    <option value="catalogo" selected>Catalogo</option>
                                    <option value="servicio1">servicio1</option>
                                    <option value="servicio2">servicio2</option>
                                    <option value="servicio3">servicio3</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <hr>
                    </div>

                    <div class="col-lg-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                                En domicilio
                            </label>
                        </div>

                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">

                        </span>
                        <div class="form-group">
                            <label class="col-md-2 control-label">CP</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="Cp" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Delegación</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="Delegacion" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Colonia</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="Colonia" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Calle,depto,número interno/externo</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="CDpN" required autofocus>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                            <label class="form-check-label" for="defaultCheck4">
                                Facturación
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                            <label class="form-check-label" for="defaultCheck5">
                                Usar el domicilio capturado
                            </label>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Empresa Fiscal</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="EmpresaF" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">cp</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="Cpp" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Colonia</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="Colonia" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Delegacion</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="Delega" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Calle,depto,número interno/externo</label>
                            <div class="col-md-8 form-custom">
                                <input type="text" class="form-control" id="CDN" required autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="form-group">
                            <div class="col-md-8 form-custom">
                                <button name="btnSignIn" id="btnSignIn" class="btn btn-block bg-blue waves-effect" type="submit">Enviar</button>
                            </div>
                        </div>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/src/Altas/Alta.js"></script>
