
@{
    ViewBag.Title = "Solicitar servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix" style="">
    <div class="col-md-12">

       

        <div class="card">
            <div class="body">

                <h2>@ViewBag.Title.</h2>
              
                <h5 style="color:gray;">Datos de la persona que se realizará el estudio</h5>
                <hr />
                <form id="formServicio" class="form-horizontal">
                    <div class="msg"></div>

                    @*<div class="col-md-12 col-xs-12">
                        <div class="form-check form-check-inline">
                            <div class="col-md-12 col-xs-12">
                                <label class="form-check-label checkbox-inline" for="chkSoyYo">
                                    ¿Quiere usar los datos de su cuenta?
                                </label>
                            </div>
                        </div>
                        <div class="form-check form-check-inline">
                            <div class="col-md-1 col-md-offset-1 col-xs-1 col-xs-offset-1">

                                <input class="form-check-input" type="checkbox" checked value="" id="chkNoSoyYo">
                                <label class="form-check-label checkbox-inline" for="chkNoSoyYo">
                                    No
                                </label>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <input class="form-check-input" type="checkbox" value="" id="chkSoyYo">
                                <label class="form-check-label checkbox-inline" for="chkSoyYo">
                                    Si
                                </label>
                            </div>
                        </div>
                    </div>*@


                    <div class="form-group">
                        <label class="col-md-2 control-label">Nombres</label>
                        <div class="col-md-4 form-custom">
                            <input type="text" placeholder="Nombres de la persona que se realizará el estudio" maxlength="50" class="form-control" id="Nombre">
                        </div>

                        <label class="col-md-2 control-label">Apellido Paterno</label>
                        <div class="col-md-4 form-custom">
                            <input type="text" placeholder="Apellido de la persona que se realizará el estudio" maxlength="50" class="form-control" id="ApellidoP">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Apellido Materno</label>
                        <div class="col-md-4 form-custom">
                            <input type="text" placeholder="Apellido de la persona que se realizará el estudio" maxlength="50" class="form-control" id="ApellidoM">
                        </div>
                        <div>
                            <label class="col-md-2 control-label">Catálogo</label>
                            <div class="col-md-4 form-custom">
                                <select name="Catalogo" id="Catalogo" multiple>
                                    <option value=1 selected>Covid 19</option>
                                    <option value=2>Influenza</option>
                                    <option value=4>Pulmones</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Fecha de nacimiento</label>
                        <div class="col-md-4 form-custom">
                            <input type="date" id="AnioNacimiento" title="Fecha de nacimiento de la persona que se realizará el estudio" name="AnioNacimiento">
                        </div>

                        <label class="col-md-2 control-label">Correo electrónico</label>
                        <div class="col-md-4 form-custom">
                            <input type="text" class="form-control" placeholder="Correo electrónico de quien se realizará el estudio" id="CorreoE" maxlength="50">
                        </div>

                    </div>



                    <div class="form-group ">
                        <div class="hidden" id="divMayorEdad">
                            <label class="col-md-2 control-label">Nombre Tutor</label>
                            <div class="col-md-4 form-custom">
                                <input type="text" class="form-control" placeholder="Nombre completo del tutor del menor " id="Ntitular" maxlength="50">
                            </div>
                        </div>

                        <div id="divParentesco" hidden>
                            <label class="col-md-2 control-label">Parentesco</label>
                            <div class="col-md-4 form-custom">
                                <input type="text" placeholder="Parentesco con la persona que se realizará el estudio" maxlength="50" class="form-control" id="Parentesco">
                            </div>

                        </div>

                    </div>
                    <br />
                    <div class="form-group">

                        <div id="divAgregar" class="col-md-offset-10 col-md-2 col-xs-offset-9 col-xs-2 col-lg-offset-10 col-lg-2">
                            <input type="button" id="btnAgregar" class="btn btn-lg btn-primary" value="Agregar paciente" />
                        </div>


                        <div id="divGuardar" class="hidden col-md-offset-8 col-md-2 col-xs-offset-6 col-xs-3 col-lg-offset-8 col-lg-2">
                            <input type="button" id="btnCancelar" class="btn btn-lg btn-secondary" value="Cancelar edición" />
                        </div>

                        <div id="divCancelar" class="hidden col-md-2 col-xs-2  col-lg-2 ">
                            <input type="button" id="btnGuardar" class="btn btn-lg btn-primary" value="Guardar cambios" />
                        </div>


                    </div>

                    <div class="form-group" style="padding:5%">
                        @*TABLA DE PACIENTES*@
                        <table class="table table-striped" id="TablaPacientes">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre Paciente</th>
                                    <th scope="col">Estudio</th>
                                    <th scope="col">Fecha Nacimiento</th>
                                    <th scope="col">Parentesco</th>
                                    <th scope="col">Acciones</th>

                                </tr>
                            </thead>
                            <tbody id="table_body">
                            </tbody>
                        </table>
                    </div>

                    @*TERMINA TABLA DE PACIENTES*@
                    <h5 style="color:gray;">Datos en caso de requerir el servicio a domicilio</h5>
                    <hr />


                    <div class="col-md-12 col-xs-12">
                        <div class="form-check form-check-inline">
                            <div class="col-md-12 col-xs-12">
                                <label class="form-check-label checkbox-inline" for="chkEnDomicilio">
                                    ¿Requiere el servicio en domicilio?
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-inline">
                            <div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                <input class="form-check-input" type="checkbox" value="" id="chkEnDomicilio">
                                <label class="form-check-label checkbox-inline" for="chkEnDomicilio">
                                    Si requiero el servicio a domicilio
                                </label>
                            </div>
                        </div>
                    </div>

                    <br />


                    <div class="form-group inDomicilio hidden">
                        <label class="col-md-2 control-label">Fecha de visita</label>
                        <div class="col-md-4 form-custom">
                            <input type="date" id="FechaVisita" title="Fecha en la que se realizará la toma de muestra a domicilio" name="FechaVisita">
                        </div>

                        <label class="col-md-2 control-label">Teléfono</label>
                        <div class="col-md-4 form-custom">
                            <input type="tel" pattern="\([0-9]{3}\) [0-9]{3}[ -][0-9]{4}" title="A valid telephone number consist of a 3 digits code area between brackets, a space, the three first digits of the number, a space or hypen (-), and four more digits" required maxlength="10" placeholder="Teléfono de contacto" class="form-control" id="Tel">
                        </div>

                    </div>


                    <div class="form-group inDomicilio hidden">
                        <label class="col-md-2 control-label">Código postal</label>
                        <div class="col-md-4 form-custom">
                            <input type="text" class="form-control" maxlength="5" placeholder="Código postal donde se realizará estudio" id="Cp">
                        </div>

                        <div>
                            <label class="col-md-2 control-label">Catálogo</label>
                            <div class="col-md-4 form-custom">
                                <select id="Delegacion" name="Delegacion" class="form-control" data-live-search="true" required>
                                    <option value="Álvaro Obregón">Álvaro Obregón</option>
                                    <option value="Azcapotzalco">Azcapotzalco</option>
                                    <option value="Benito Juárez">Benito Juárez</option>
                                    <option value="Coyoacán">Coyoacán</option>
                                    <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
                                    <option value="Cuauhtémoc">Cuauhtémoc</option>
                                    <option value="Gustavo A. Madero">Gustavo A. Madero</option>
                                    <option value="Iztacalco">Iztacalco</option>
                                    <option value="Iztapalapa">Iztapalapa</option>
                                    <option value="La Magdalena Contreras">La Magdalena Contreras</option>
                                    <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                                    <option value="Milpa Alta">Milpa Alta</option>
                                    <option value="Tláhuac">Tláhuac</option>
                                    <option value="Tlalpan">Tlalpan</option>
                                    <option value="Venustiano Carranza">Venustiano Carranza</option>
                                    <option value="Xochimilco">Xochimilco</option>
                                </select>
                            </div>
                        </div>
                    </div>

               

                    <div class="form-group inDomicilio hidden">
                        <label class="col-md-2 control-label">Colonia</label>
                        <div class="col-md-4 form-custom">
                            <input type="text" placeholder="Colonia donde se realizará estudio" maxlength="50" class="form-control" id="Colonia">
                        </div>

                        <label class="col-md-2 control-label">Calle, depto, número interno/externo</label>
                        <div class="col-md-4 form-custom">
                            <input type="text" placeholder="Calle donde se realizará estudio" maxlength="50" class="form-control" id="Cdpn">
                        </div>

                    </div>
                
                    <br />
                    <h5 style="color:gray;">Datos en caso de requerir factura</h5>
                    <hr>

                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <div class="col-md-12 col-xs-12">
                                <label class="form-check-label checkbox-inline" for="chkFacturacion">
                                    ¿Requiere factura?
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-inline">
                            <div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                <input class="form-check-input" type="checkbox" value="" id="chkFacturacion">
                                <label class="form-check-label checkbox-inline" for="chkFacturacion">
                                    Si requiero factura
                                </label>
                            </div>
                        </div>

                    </div>



                    <div class="input-group hidden" id="divFacturacion">

                        <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">Tipo de persona fiscal</label>
                                <div class="col-md-4 form-custom">
                                    <select id="tipoPersona" name="" class="form-control" data-live-search="true" required>
                                        <option value="MORAL">Persona moral</option>
                                        <option value="FISICA">Persona física</option>
                                    </select>
                                </div>
                            </div>

                        </div>




                        <div id="divMoral">

                            <div class="col-md-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="" id="chkUsarDomicilio">
                                    <label class="form-check-label checkbox-inline" for="chkUsarDomicilio">
                                        Usar el domicilio capturado
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Nombre de la empresa</label>
                                <div class="col-md-4 form-custom">
                                    <input placeholder="Nombre de la empresa" type="text" class="form-control" maxlength="50" id="EmpresaF">
                                </div>

                                <label class="col-md-2 control-label">Razón social</label>
                                <div class="col-md-4 form-custom">
                                    <input type="text" placeholder="RFC de la empresa" class="form-control" maxlength="50" id="RfcF">
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Correo Electrónico</label>
                                <div class="col-md-4 form-custom">
                                    <input type="email" placeholder="Correo electrónico de la empresa" maxlength="50" class="form-control" id="EmailF">
                                </div>

                                <label class="col-md-2 control-label">Teléfono</label>
                                <div class="col-md-4 form-custom">
                                    <input type="tel" placeholder="Teléfono de la empresa" maxlength="10" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" class="form-control" id="TelF">
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Código postal</label>
                                <div class="col-md-4 form-custom">
                                    <input type="text" placeholder="Código postal donde esta ubicada la empresa" maxlength="5" class="form-control" id="CpF">
                                </div>

                                <label class="col-md-2 control-label">Colonia</label>
                                <div class="col-md-4 form-custom">
                                    <input type="text" placeholder="Colonia donde esta ubicada la empresa" maxlength="50" class="form-control" id="ColoniaF">
                                </div>
                            </div>


                            <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label">Delegación</label>
                                    <div class="col-md-4 form-custom">
                                        <select id="DelegacionF" name="DelegacionF" class="form-control" data-live-search="true" required>
                                            <option value="Álvaro Obregón">Álvaro Obregón</option>
                                            <option value="Azcapotzalco">Azcapotzalco</option>
                                            <option value="Benito Juárez">Benito Juárez</option>
                                            <option value="Coyoacán">Coyoacán</option>
                                            <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
                                            <option value="Cuauhtémoc">Cuauhtémoc</option>
                                            <option value="Gustavo A. Madero">Gustavo A. Madero</option>
                                            <option value="Iztacalco">Iztacalco</option>
                                            <option value="Iztapalapa">Iztapalapa</option>
                                            <option value="La Magdalena Contreras">La Magdalena Contreras</option>
                                            <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                                            <option value="Milpa Alta">Milpa Alta</option>
                                            <option value="Tláhuac">Tláhuac</option>
                                            <option value="Tlalpan">Tlalpan</option>
                                            <option value="Venustiano Carranza">Venustiano Carranza</option>
                                            <option value="Xochimilco">Xochimilco</option>
                                        </select>
                                    </div>
                                </div>

                                <label class="col-md-2 control-label">Calle, depto, número interno/externo</label>
                                <div class="col-md-4 form-custom">
                                    <input type="text" placeholder="Calle o avenida donde esta ubicada la empresa" maxlength="50" class="form-control" id="CdpnF">
                                </div>

                            </div>

                        </div>

                        <div class="input-group hidden" id="divFisica" hidden>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Razón social</label>
                                <div class="col-md-4 form-custom">
                                    <input type="text" placeholder="Razón social " class="form-control" id="RfcFFisica">
                                </div>

                                <label class="col-md-2 control-label">Nombre completo</label>
                                <div class="col-md-4 form-custom">
                                    <input placeholder="Nombre completo" type="text" class="form-control" maxlength="50" id="NombreFisica">
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Correo Electrónico</label>
                                <div class="col-md-4 form-custom">
                                    <input type="email" placeholder="Correo electrónico" maxlength="50" class="form-control" id="EmailFisica">
                                </div>

                                <label class="col-md-2 control-label">Teléfono</label>
                                <div class="col-md-4 form-custom">
                                    <input type="tel" placeholder="Teléfono" maxlength="10" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" class="form-control" id="TelFisica">
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-10 col-md-2 col-xs-offset-9 col-xs-2 col-lg-offset-10 col-lg-2">
                            <input type="submit" id="btnSolicitar" class="btn btn-primary btn-lg" value="Solicitar servicio" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/src/Altas/AltaAdmin.js"></script>
