
@{
    ViewBag.Title = "Facturacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
               
                <h2>FACTURACION</h2>
                <!--<<h4>Consulta usuarios del sistema</h4>-->
                <hr />
                <br />
                <div class="row clearfix">

                    <div class="col-md-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <select id="dropRoles" name="selMoneda" class="form-control" data-live-search="true" required>
                                    <option value="ANALISTA" selected>Analista</option>
                                    <option value="AUXILIAR">Auxiliar</option>
                                    <option value="FACTURACION">Facturación</option>
                                    <option value="CAJA">Caja</option>
                                    <option value="RESULTADOS">Carga Resultados</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row clearfix">
                    <div class="col-md-12">

                        <br />
                        <div id="grdDatos" style="height: 600px;" class="ag-theme-material ag-compact"></div>

                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card">
                            <center>
                                <div class="body">
                                    <h2>FACTURA</h2>

                                    <div class="form-group">

                                        <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="3" placeholder="C                 omentarios"></textarea>
                                    </div>
                                    <h5>Subir CFDI * pdf</h5>
                                    <input type="file">

                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/src/Facturacion/Facturacion.js"></script>

